


<!-- Toolbar -->
<div class="toolbar" role="banner">
  &nbsp;&nbsp;
  <img src="person.jpg" width="40" height="40"> 
  <h1>customer manager</h1>
</div>

<div class="content" role="main">
  <br>
  <br>
  <br>
  <span>customers</span>
  <br>
  <br>
    <form>
    <label class="search">filter:</label>&nbsp;&nbsp;<input type ="text" name= "t">
    <button class="btn btn-primary" routerLink="/home">add new customer</button>
    </form>
    <table>
      <tr>
          <th>first name</th>&nbsp;
          <th>last name</th>&nbsp;&nbsp;
          <th>address</th>&nbsp;
          <th>city</th>&nbsp;
          <th>options</th>
      </tr>
    </table>
    
  
  <footer>
      
  </footer>
</div>
